<!DOCTYPE>
{% load static %}
<html  lang="en">
<head>
	<title>My blog</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />

{#	<link rel="shortcut icon" href="{% static 'css/images/favicon.ico' %}" />#}

</head>
<body>
<div class="shell">
	<div class="border">

		<div id="navigation">
			<ul>
			    <li><a href="/" class="active">Main</a></li>
			    <li><a href="/admin">Admin panel</a></li>
			    
			</ul>
		</div>

		<div id="main">
			<div id="content" class="left">
				
				<div class="projects">
					<h3>Records</h3>
                    {% for publication in publication_list %}
					<div class="item">
						<div class="image left">
							<a href="#"><img src="{{ publication.image.url }}" width="200px" alt="" /></a>
						</div>
						<div class="text left">
                            <h4><a href="{{ publication.id }}">{{ publication.title }}</a></h4>
							<p>{{ publicatrion.description }}</p>
							<p>Author: {{ publication.author }} </p>
						</div>
						<div class="cl">&nbsp;</div>
					</div>
                    {% endfor %}
					
				</div>
			</div>
			
			<div class="cl">&nbsp;</div>
		</div>
		

	</div>
	
	<div id="footer">
		<p class="copy right">Copyright &copy;  2023 </p>
	</div>
</div>
</body>
</html>